# Operating System
.DS_Store


# Environment Variables
.env

# Dependencies
node_modules/

# Project Specific
/app/generated/
/todo/

# React Router
.react-router/
build/

# Turbo
.turbo/
/out/


# Testing
# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
tests-examples/

# Vitest
vitest-example/
coverage/
