# Operating System
.DS_Store


# Environment Variables
.env
.env.*

# Dependencies
node_modules/

# Project Specific
/app/generated/
/todo/

# React Router
.react-router/
build/

# Turbo
.turbo/


# Testing
# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
tests-examples/

# Vitest
vitest-example/
coverage/

# npm
npm-debug.log*
npm-error.log*
.npm/
.npmrc
package-lock.json


# Optional npm cache directory
.npm/
